.carouselDiv {
    .carouselImg {
        max-height: 774px;
    }
    .carouselContentP {
        font-weight: 600;
        font-size: 58px;
        line-height: 64px;
        margin-top: 15px;
    }
    h5 {
        font-weight: 600;
    }
}