.submitBtn {
    padding: 0!important;
    height: 100px;
}
.contactUsInput {
    min-width: initial!important;
    width: 100%;
    padding: 10px 0 10px 15px!important;

}
.contactUsLabel {
    margin-bottom: 20px;
}

.contactUsLabel > h3 {
    text-align: left;
}
.modal-body {
    text-align: left;
}